/* BOTONES DEL MENU */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* TIPOGRAFIAS */ 

@font-face {
    font-family:probert-titulos;
    src: url(../assets/Tipografias/Probert.otf);
}

@font-face {
    font-family:probert-texto;
    src: url(../assets/Tipografias/Probert\ Condensed.otf);
}

*{
    margin:0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

/* ---- HEADER ----- */ 

.abrir-menu, 
.cerrar-menu{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #9b3df0;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo1{
    width: 2.1875rem;
    margin-left: 50px;
}

.iconos-redes{
    width: 25rem;
}

.iconos-redes a{
    text-decoration: none;
    padding: 5px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.40rem;
    align-items: center;
    margin-left: 50px;
}

.nav-bar li{
    margin: 0;
    padding: 5px;
}

.nav-bar li a{
    color:black;
    font-family: probert-titulos;
    text-decoration: none;
    padding: 10px 20px;
}



/* ---- FOOTER ----- */ 


footer{
    background-color: #9b3df0;
    padding: 15px;
}

footer  p{
    text-align: center;
    color:black;
    font-family: probert-texto;
    text-decoration: none;
    padding: 10px 20px;
}

/* ---- BODY ----- */

/* ---- PRESENTACION----- */

body{
    background-color: #191919;
}

.info-principal{
    display: flex;
}

.info-principal div{
    margin-top: 200px; 
    margin-left: 40px;
}

.logo-principal{
    width: 550px;
}
.foto-persona{
    margin-top: 50px; 
    margin-right: 40px;
    width: 400px;
}

.info-principal div h1 {
    color: #9b3df0;
    font-family: probert-titulos;
    font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
}

.info-principal div h2{
    color: #FFFFFF;
    font-family: probert-texto;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
    
}


/* ---- STREAM ----- */

.stream-seccion{
    margin-top: 50px;
    margin-bottom: 70px;
}

.stream-nombre h2{
    color: white;
    font-family: probert-titulos;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: left;
    margin-left: 45px;
}

.stream-video{
    display: flex;
    justify-content:center;
    
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.box-stream-video {
    height:400px; 
    width: 41rem;
}

.box-stream-chat{
    height:25rem;
    width:17.5rem;
}




/* ---- EVENTOS ---- */

.eventos{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
}

.slide-container{
    max-width: 70rem;
    width: 100%;
}

.slide-content{
    margin: 0 2.5rem;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    width: 15.625rem;
    border-radius: 10%;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-bottom: .3125rem;
    margin-top: 1.5625rem;
    margin-bottom: 4.375rem;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .875rem;
}


.image-content{
    position: relative;
    row-gap: .3125rem;
    padding: .625rem 0; 
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #9b3df0;
    border-radius: 1.5625rem 1.5625rem 0 0 ;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    
}

.overlay::after{
    border-radius: 0 1.5625rem 0 0;
    
}

.card-image{
    position: relative;
    height: 18.75rem;
    width: 18.75rem;
    border-radius: 10%;
    background: #9b3df0;
    padding: .625rem;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: .25rem solid #191919;
}

.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    color:#191919;
    padding: .625rem;
}

.card-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: .6875rem;
    font-weight: 500;
    color:#191919;
    padding: .625rem;
}

.swiper-navBtn{
    color: #9b3df0;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #4e296e;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

.swiper-pagination-bullet{
    background-color:#9b3df0;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background-color: #4e296e;
}

@media screen and (max-width: 768px){
    
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }

}

/* ---- FORMULARIO ---- */

#contacto h2{
    color: white;
    font-family: probert-titulos;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: left;
    margin-left: 45px;
}

#contacto h3{
    color: white;
    font-family: probert-texto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: left;
    margin-left: 45px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.formulario{
    /*background-color: #9c3df04f;*/
    padding: 20px;
    width: 600px;
    height: 550px;
    margin-bottom: 100px;
}

.formulario p label input{
    width: 550px;
    height: 50px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario p label textarea{
    width: 550px;
    height: 150px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton-enviar2 {
    padding: 10px 25px;
    float: right;
    margin-right: 10px;
}

.formulario p label{
    color: #FFFFFF;
    font-family: probert-texto;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}




@media (max-width: 768px){

    .logo1{
        margin-left: 15px;
    }

    .abrir-menu,
    .cerrar-menu{
        display: block;
        justify-content: center;
        padding: 5px;
        border: 0;
        font-size: 40px;
        background-color: transparent;
        cursor: pointer;
    }


    .nav{
        display: flex;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #9b3df0;
        box-shadow: #4e296e7a;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar li{
        padding: 15px;
        margin-right: 45px;
        display: flex;
        align-content: center;
    }

    .iconos-redes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        justify-content: center; /* Centra los iconos horizontalmente */
        gap: 10px; /* Controla el espacio entre los iconos */
        align-items: center; 
        
    }

    .iconos-redes a img{
        width: 40px;
    }



    
    /* ------ INICIO ------- */ 

    .info-principal{
        display: flex;
        flex-direction: row;
    }

    .info-principal div{
        margin-top: 150px;
        margin-left: 0px;
        padding: 0 10px;
    }
    
    .logo-principal{
        margin-left: 10px;
        width: 300px;
    }

    .info-principal div h1 {
        font-size: 18px;
        text-align:left;
    }

    .info-principal div h2{
        font-size: 14px;
        text-align: justify;
    }

    .foto-persona{
        margin: 45px auto;
        width: 300px;
    }


    /* ------ STREAM ------- */ 

    .box-stream-video {
        height: 350px; 
        width: 574px;
    }
    
    .box-stream-chat{
        height: 350px;
        width: 250px;
    }

    
    /* ------------ EVENTOS ----------- */

    .slide-content{
        margin: 0 55px;
        overflow: hidden;
        border-radius: 25px;
    }


}

@media (max-width: 425px){

    
    .logo1{
        margin-left: 15px;
    }

    .abrir-menu,
    .cerrar-menu{
        display: block;
        justify-content: center;
        padding: 5px;
        border: 0;
        font-size: 40px;
        background-color: transparent;
        cursor: pointer;
    }

    .nav{
        display: flex;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #9b3df0;
        box-shadow: #4e296e7a;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar li{
        padding: 15px;
        margin-right: 45px;
        display: flex;
        align-content: center;
    }

    .iconos-redes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        justify-content: center; /* Centra los iconos horizontalmente */
        gap: 10px; /* Controla el espacio entre los iconos */
        align-items: center; 
        
    }

    .iconos-redes a img{
        width: 40px;
    }


    /* ------ FOOTER ------- */ 
    footer{
        background-color: #9b3df0;
        padding: 5px;
    }


    /* ------ INICIO ------- */ 

    .info-principal{
        display: flex;
        flex-direction: column;
    }

    .info-principal div{
        margin-top: 150px;
        margin-left: 0px;
        padding: 0 10px;
    }
    
    .logo-principal{
        margin-left: 10px;
        width: 300px;
    }

    .info-principal div h1 {
        font-size: 18px;
        text-align:left;
    }

    .info-principal div h2{
        font-size: 14px;
        text-align: justify;
    }

    .foto-persona{
        margin: 15px auto;
        width: 300px;
    }


    /* ------ STREAM ------- */ 

    #stream-elunbe {
        margin: 0px 0px 30px 30px;
        padding: 0px;
    }

    .stream-video{
        display: flex;
        flex-direction: column;
        
    }

    .box-stream-video {
        height: 200px; 
        width: 320px;
    }
    
    .box-stream-chat{
        height: 500px;
        width: 320px;
    }

    .stream-video{
        margin: 0;
    }


    /* ------------ EVENTOS ----------- */

    .slide-content{
        margin: 0 55px;
        overflow: hidden;
        border-radius: 25px;
    }


    /* ------ FORMULARIO ------- */ 

    #contacto h2{
        font-size: 20px;
        margin-left: 25px;
    }

    #contacto h3{
        font-size: 18px;
        margin: 0 0 0 15px;
        text-align: justify;
    }

    .contenedor{
        padding: 10px;
        margin:0px
    }

    .formulario{
        width: 400px;
    }

    .formulario p label input {
        width: 370px;
    }

    .formulario p label textarea {
        width: 370px;
    }

    .boton-enviar2{
        margin-right: 0px;
    }

}

